{% extends 'base.html' %} 
{% from 'utils.j2' import login %} 

{% block title %}One Time SMS{% endblock %} 

{% block heading %}One Time SMS{% endblock %} 

{% block content %} 
    <div class="row">
        <p>App to test one time passwords via email and sms</p>
        <p>After you type in a correct username and password, you'll get a PIN sent to your email. The
            next screen expect you to type in that PIN for validation.
        </p>
    </div>
    <div class="row justify-content-center"> 
        <div class="col-4 text-center">{{ login(url_for('login')) }}</div> 
    </div> 
    {% if message %} 
    <div class="row mt-5"> 
        <div class="col-12 border d-flex justify-content-center"><strong>{{ message }}</strong></div> 
    </div> 
    {% endif %}
{% endblock %}
